name: Lint, Format, Tests, e2e Testing, Build, Release

on:
 push:
   branches: [ main ]
 pull_request:
   branches: [ main ]

jobs:
  check:
    name: Lint, Format, Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.11.0"

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint check
        run: pnpm lint

      - name: Format check
        run: pnpm prettier

      - name: Unit & Integration tests
        run: pnpm test:ci

      - name: Install concurrently
        run: npm install -g concurrently

      - name: Install wait-on
        run: npm install -g wait-on

      - name: Install playwright
        run: pnpm exec playwright install

      - name: Smoke & Acceptance tests
        run: |
          pnpm build-storybook --quiet
          npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "npx http-server storybook-static --port 6006 --silent" \
            "npx wait-on tcp:127.0.0.1:6006 && pnpm test-storybook"
  test:
    name: e2e Testing
    needs: check
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.11.0"

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm e2e:headless

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  build:
    name: Build
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.11.0"

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        env:
          API_URL: "https://pokeapi.co/api/v2/"
        run: pnpm build

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - name: Use Node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.11.0"

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        run: npm pkg delete scripts.prepare && rm -rf .husky/.pre-push && pnpm install

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release@23 --omit=dev --ignore-scripts
